*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: poppins;

}
main{
    max-height: 500px;
    overflow: scroll;
    padding: 3rem;
    min-width:375px ;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
    border-radius: 10px;

}
main::-webkit-scrollbar{
    display: none;
}
.index{
    margin-right: .5rem;
}
.title{
    font-size: 1.5rem;
}
.input-box-container{
    display: flex;
    gap: .5rem;
    margin-bottom: 1.5rem;
}
.input-box{
    display: inline-block;
}
.list-item{
    display: flex;
    margin-bottom: .5rem;

}
.list-item-text{
    flex-grow: 1;
    align-self: flex-start;
}
.delete-btn,.edit-btn{
    border: none;
    outline: none;
    background-color: #fff;
}
.edit-btn{
    margin-right: .7rem;
    color: #2980b9;
}
.delete-btn{
    color: #c0392b;
}
.reset-btn{
    text-align: center;
    margin-top: .6rem;
}